<!DOCTYPE html>
<html>
    <%- include('../partials/head')d; %>

    <body class="container">

        <%- include('../partials/header'); %>

        <main>
            <div class="jumbotron">
                <h1>Sobre mim</h1>
                <p>Oi sou jack</p>
            </div>
        </main>

        <%- include('../partials/footer'); %>

    </body>

</html>